* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-yellow:#F9D742;
    --color-white:#FFFFFF;

    --background-color-blue:#005487;
    --btn-background-color-blue:#00CCCC;
    --btn-border-radius:0.5em;
    --btn-border:none;
    --btn-font-weight:700;

    --primary-height:1.75em;
    --primary-border-radius:0.25em;
    --primary-font-weight:600;
    --primary-font-size:0.875em;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-border-radius {
    border: inherit;
    border-radius: var(--btn-border-radius);
    font-weight: var(--btn-font-weight);
}

.btn-register {
    height: 2.5em;
    width: 6.5625em;
    background-color: var(--btn-background-color-blue);
    color: var(--color-white);
}

.btn-join{
    height: 2.5em;
    width: 8.3125em;
    background-color: var(--btn-background-color-blue);
    color: var(--color-white);
}

.btn-detail{
    width: 9.125em;
    height: 2.5em;
    background-color: #F6F7F8;
    color: #51545F;
}

.primary-border-radius {
    border-radius: var(--primary-border-radius);
    border: inherit;
    font-weight: var(--primary-font-weight);
}

.primary-comingsoon {
    width:5.6875em;
    height: var(--primary-height);
    background-color: rgba(58, 178, 132, 0.05);
    color: #3AB284;
}

.primary-happening {
    width: 6.25em;
    height: var(--primary-height);
    background-color: rgba(255, 164, 37, 0.05);
    color: #FFA425;
}

.primary-end{
    width: 5.8125em;
    height: var(--primary-height);
    background-color: #DD34480D;
    color: #DD3448;
}

.primary-text{
    font-size: var(--primary-font-size);
    padding: 0 4px 0 4px;
}