* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-yellow: #F9D742;
    --color-yellow-FFCB08: #FFCB08;
    --color-white: #FFFFFF;
    --colo-NeutraColors: #1F2230;

    --background-color-blue: #005487;
    --btn-background-color-blue: #00CCCC;
    --btn-border-radius-05em: 0.5em;
    --btn-border: none;
    --btn-font-weight-700: 700;

    --primary-height: 1.75em;
    --primary-border-radius-4px: 0.25em;
    --primary-font-weight-600: 600;
    --primary-font-size-14px: 0.875em;
    --primary-background-color-blue: #36BFC7;

    --mobile-text-font-weight-400: 400;
    --mobile-text-font-size: 0.875em;

    --font-size-18px: 1.125em;
    --font-size-24px: 1.5em;
    --size-16px: 1em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-relative {
    position: relative;
}

.non-active {
    display: none;
}

.btn-border-radius {
    border: inherit;
    border-radius: var(--btn-border-radius-05em);
    font-weight: var(--btn-font-weight-700);
}

.btn-register {
    height: 2.5em;
    width: 6.5625em;
    background-color: var(--btn-background-color-blue);
    color: var(--color-white);
}

.btn-join {
    height: 2.5em;
    width: 8.3125em;
    background-color: var(--btn-background-color-blue);
    color: var(--color-white);
}

.btn-detail {
    width: 9.125em;
    height: 2.5em;
    background-color: #F6F7F8;
    color: #51545F;
}

.primary-border-radius {
    border-radius: var(--primary-border-radius);
    border: inherit;
    font-weight: var(--primary-font-weight-600);
}

.primary-comingsoon {
    width: 5.6875em;
    height: var(--primary-height);
    background-color: rgba(58, 178, 132, 0.05);
    color: #3AB284;
}

.primary-happening {
    width: 6.25em;
    height: var(--primary-height);
    background-color: rgba(255, 164, 37, 0.05);
    color: #FFA425;
}

.primary-end {
    width: 5.8125em;
    height: var(--primary-height);
    background-color: #DD34480D;
    color: #DD3448;
}

.primary-location-radius {
    height: var(--primary-height);
    background-color: var(--primary-background-color-blue);
    color: var(--color-white);
    border-radius: 1.875em;
}

.primary-hanoi {
    width: 4.5em;
}

.primary-tphcm {
    width: 7.8125em;
}

.primary-text {
    font-size: var(--primary-font-size-14px);
    padding: 0 0.25em 0 0.25em;
}

.pop-up-inside {
    border: 1px solid #E0E0E0;
    border-radius: var(--primary-border-radius-4px);
}

.pop-up-inside>.row {
    margin-top: var(--size-16px);
}

.pop-up-inside>.row>.col>.pop-up-inside-header {
    background-color: #FFF5DB;
}

.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
    width: 212px;
    height: 56px;
    font-weight: var(--btn-font-weight-700);
    font-size: var(--font-size-24px);
    border-radius: var(--btn-border-radius-05em);
    background-color: white;
    position: absolute;
    top: 24%;
    left: 20%;
}

.pop-up-inside>.row>.col>.pop-up-inside-header>img {
    width: 100%;
}

.pop-up-inside>.row>.col>.pop-up-inside-content {
    border-bottom: thin solid rgba(32, 32, 32, 0.05);
    margin-top: var(--size-16px);
    padding-bottom: var(--size-16px);
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-register {
    margin-left: 0.1875em;
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-end,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-people {
    margin-top: var(--btn-border-radius-05em);
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-register,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-end,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-people {
    justify-content: flex-start;
    font-size: var(--primary-font-size-14px);
    font-weight: var(--mobile-text-font-weight-400)
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-register>.content-time-icon,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-people>.content-time-icon {
    margin-left: 0.1em;
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-register>.content-time-text {
    margin-left: 0.65em;
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-people>.content-time-text {
    margin-left: 0.75em;
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-register>.content-time-number,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-end>.content-time-text,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-end>.content-time-number,

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-people>.content-time-number {
    margin-left: var(--btn-border-radius-05em)
}

.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-register>.content-time-number,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-time-end>.content-time-number,
.pop-up-inside>.row>.col>.pop-up-inside-content>.pop-up-inside-content-people>.content-time-number {
    font-size: var(--size-16px);
    font-weight: var(--btn-font-weight-700);
    color: var(--background-color-blue);
}

.pop-up-inside>.row>.col>.pop-up-inside-footer {
    height: 4em;
    justify-content: space-between;
}


.footer-container-mobile {
    background-color: var(--background-color-blue);
}

.footer-container-mobile-inside>.footer-mobile-location {
    margin-top: 1.5em;
}

.footer-container-mobile-inside>.footer-mobile-information>ul.information-ul {
    list-style: none;
    padding-left: 0;
}

.footer-container-mobile-inside>.footer-mobile-information>ul.information-ul>li {
    color: var(--color-white);
    margin-top: var(--size-16px);
    font-weight: var(--mobile-text-font-weight);
}

.footer-container-mobile-inside>.footer-mobile-location>.location-content {
    margin-top: var(--size-16px);
}

.footer-container-mobile-inside>.footer-mobile-location>.location-content>.location-content-text {
    font-weight: var(--mobile-text-font-weight);
    color: var(--color-white);
    font-size: var(--mobile-text-font-size);
    margin-left: 0.3em;
}

.footer-container-mobile-inside>.footer-mobile-location>.primary-tphcm {
    margin-top: 1.5em;
}

.footer-container-mobile-inside>.footer-mobile-text {
    color: var(--color-white);
    margin-top: 1.5em;
}

.footer-container-mobile-inside>.footer-mobile-text>.footer-mobile-text-header {
    font-weight: var(--btn-font-weight-700);
    font-size: var(--font-size-18px);
}

.footer-container-mobile-inside>.footer-mobile-text>.footer-mobile-text-content {
    font-weight: var(--mobile-text-font-weight);
    font-size: var(--primary-font-size-14px);
    margin-top: var(--btn-border-radius-05em)
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-content>.hotline-content-phone {
    justify-content: flex-start;
    color: var(--color-white);
    font-size: var(--font-size-18px);
    font-weight: var(--btn-font-weight-700);
    margin-top: 1.5em;
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-content>.hotline-content-phone>.hotline-content-phone-text {
    margin-left: var(--btn-border-radius-05em)
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-content>.hotline-content-number {
    color: var(--color-yellow-FFCB08);
    font-size: var(--font-size-24px);
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-qrcode {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: var(--size-16px);
    justify-items: center;
    color: var(--color-white);
    font-size: var(--primary-font-size-14px);
    font-weight: var(--primary-font-weight-600);
    margin-top: 1.5em;
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-socialmedia {
    justify-content: flex-start;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-socialmedia>.hotline-socialmedia-icon {
    margin-left: var(--size-16px);
}







.nav-mobile-login {
    height: 4.5em;
    background-color: var(--background-color-blue);
    justify-content: flex-start;
    gap: 0.75em;
    padding: var(--size-16px);
}

.nav-mobile-login>.btn-login {
    height: 2.5em;
    width: 11em;
    background-color: var(--color-yellow);
    color: var(--colo-NeutralColors);
    margin-left: var(--size-16px);
}

.nav-mobile-login>.nav-mobile-login-content-svg {
    margin-left: var(--size-16px);
}

.nav-mobile-login>.nav-mobile-login-content>img {
    width: 150px;
}



.nav-web {
    background-color: var(--background-color-blue);
    padding-left: 4em;
    padding-right: 4em;
}

.nav-web>.nav-web-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-web>.nav-web-header>.nav-web-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    padding: 1em 0em;
}

.nav-web>.nav-web-header>.nav-web-header-left>.nav-web-header-text {
    height: 1.25em;
    width: 9.625em;
    font-size: 0.875em;
    line-height: 1.25em;
    font-weight: var(--mobile-text-font-weight-400);
    color: var(--color-white);
}

.nav-web>.nav-web-header>.nav-web-header-left>.nav-web-header-number {
    height: 1.5em;
    width: 6.1875em;
    font-size: var(--size-16px);
    line-height: 1.5em;
    color: var(--color-yellow);
    font-weight: var(--btn-font-weight);
}

.nav-web>.nav-web-header>.nav-web-header-right {
    font-weight: 400;
    font-size: 0.875em;
    color: var(--color-yellow);
    gap: 0.2em;
}

.nav-web>.nav-web-header>.nav-web-header-right-60ngayvip {
    font-weight: 400;
    font-size: 0.875em;
    color: var(--color-white);
}

.nav-web>.nav-web-header>.nav-web-header-right>.nav-web-header-right-textcomakichhoat {
    color: var(--color-white) !important;
}

.nav-web>.nav-web-header>.nav-web-header-right>.nav-web-header-right-textkichhoattk {
    color: var(--btn-background-color-blue) !important;
}

.nav-web>.nav-web-content>.btn-login {
    height: 2.5em;
    width: 8.6875em;
    background-color: var(--color-yellow);
    color: var(--colo-NeutralColors);
    margin-left: 2.2em;
}

.nav-web>.nav-web-content {
    display: grid;
    grid-template-columns: 15% 72.5% 12.5%;
    padding: 1em 0em;
    align-items: center;
    border-top: 0.03125em solid rgba(0, 204, 204, 0.2);
}

.nav-web>.nav-web-content>.nav-web-content-menu {
    list-style-type: none;
    gap: 6%;
    margin-top: 0.5em;
}

.nav-web>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-cuocthi {
    height: 1.5em;
    width: 5.5625em;
    gap: 4%;
    font-weight: 600;
    color: var(--color-white);
}

.nav-web>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-ontapcungedupia {
    height: 1.5em;
    width: 11.3125em;
    gap: 4%;
    font-weight: 400;
    color: var(--color-white);
    opacity: 0.7;
}

.nav-web>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tuluyen {
    height: 1.5em;
    width: 5.5625em;
    gap: 4%;
    font-weight: 400;
    color: var(--color-white);
    position: relative;
    opacity: 0.7;
}

.nav-web>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tuluyen>.nav-web-content-menu-textuluyen-framesapramat {
    position: absolute;
    width: 3.9375em;
    left: 3.375em;
    padding: 0.125em;
    top: -0.875em;
    background: rgba(0, 204, 204, 0.2);
    border-radius: 1.5em;
}

.nav-web>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tuluyen>.nav-web-content-menu-textuluyen-framesapramat>.nav-web-content-menu-textuluyen-textsapramat {
    font-weight: 700;
    font-size: 0.625em;
    color: var(--btn-background-color-blue);
}

.nav-web>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tintuc {
    height: 1.5em;
    width: 5.5625em;
    gap: 4%;
    font-weight: 400;
    color: var(--color-white);
    opacity: 0.7;
}

.nav-web>.nav-web-content>.btn-login {
    color: var(--background-color-blue) !important;
}

.nav-web>.nav-web-content>.flex.nav-web-content-login {
    gap: 0.5em;
}

.nav-web>.nav-web-content>.flex.nav-web-content-login>.nav-web-content-login-text>.nav-web-content-login-text-top {
    color: #FFF;
    font-size: 0.875em;
    font-weight: 600;
}

.nav-web>.nav-web-content>.flex.nav-web-content-login>.nav-web-content-login-text>.nav-web-content-login-text-bottom {
    font-weight: 400;
    font-size: 0.75em;
    line-height: 2em;
    color: #E3E4EC;
}

.nav-web-four {
    background-color: var(--background-color-blue);
    padding-left: 4em;
    padding-right: 4em;
    display: grid;
    grid-template-columns: 15% 83%;
    gap: 2%;
    align-items: center;
}

.nav-web-four>.nav-web-right>.nav-web-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-web-four>.nav-web-right>.nav-web-header>.nav-web-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    padding: 1em 0em;
}

.nav-web-four>.nav-web-right>.nav-web-header>.nav-web-header-left>.nav-web-header-text {
    height: 1.25em;
    width: 9.625em;
    font-size: 0.875em;
    line-height: 1.25em;
    font-weight: var(--mobile-text-font-weight-400);
    color: var(--color-white);
}

.nav-web-four>.nav-web-right>.nav-web-header>.nav-web-header-left>.nav-web-header-number {
    height: 1.5em;
    width: 6.1875em;
    font-size: var(--size-1em);
    line-height: 1.5em;
    color: var(--color-yellow);
    font-weight: var(--btn-font-weight);
}

.nav-web-four>.nav-web-right>.nav-web-header>.nav-web-header-right {
    font-weight: 400;
    font-size: 0.875em;
    color: var(--color-yellow);
    gap: 0.2em;
}

.nav-web-four>.nav-web-right>.nav-web-header>.nav-web-header-right-60ngayvip {
    font-weight: 400;
    font-size: 0.875em;
    color: var(--color-white);
}

.nav-web-four>.nav-web-right>.nav-web-header>.nav-web-header-right>.nav-web-header-right-textcomakichhoat {
    color: var(--color-white) !important;
}

.nav-web-four>.nav-web-right>.nav-web-header>.nav-web-header-right>.nav-web-header-right-textkichhoattk {
    color: var(--btn-background-color-blue) !important;
}

.nav-web-four>.nav-web-right>.nav-web-content>.btn-login {
    height: 2.5em;
    width: 8.6875em;
    background-color: var(--color-yellow);
    color: var(--colo-NeutralColors);
    margin-left: 1em;
}

.nav-web-four>.nav-web-right>.nav-web-content {
    display: grid;
    grid-template-columns: 82% 13%;
    gap: 4.5%;
    padding: 1em 0em;
    align-items: center;
    border-top: 0.03125em solid rgba(0, 204, 204, 0.2);
}

.nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu {
    list-style-type: none;
    gap: 6%;
    margin-top: 0.5em;
    justify-content: flex-start !important;
    padding-left: 0;
}

.nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-cuocthi {
    height: 1.5em;
    width: 5.5625em;
    gap: 4%;
    font-weight: 600;
    color: var(--color-white);
}

.nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-ontapcungedupia {
    height: 1.5em;
    width: 11.3125em;
    gap: 4%;
    font-weight: 400;
    color: var(--color-white);
    opacity: 0.7;
}

.nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tuluyen {
    height: 1.5em;
    width: 5.5625em;
    gap: 4%;
    font-weight: 400;
    color: var(--color-white);
    position: relative;
    opacity: 0.7;
}

.nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tuluyen>.nav-web-content-menu-textuluyen-framesapramat {
    position: absolute;
    width: 3.9375em;
    left: 3.375em;
    padding: 0.125em;
    top: -0.875em;
    background: rgba(0, 204, 204, 0.2);
    border-radius: 1.5em;
}

.nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tuluyen>.nav-web-content-menu-textuluyen-framesapramat>.nav-web-content-menu-textuluyen-textsapramat {
    font-weight: 700;
    font-size: 0.625em;
    color: var(--btn-background-color-blue);
}

.nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-tintuc {
    height: 1.5em;
    width: 5.5625em;
    gap: 4%;
    font-weight: 400;
    color: var(--color-white);
    opacity: 0.7;
}

.nav-web-four>.nav-web-right>.nav-web-content>.btn-login {
    color: var(--background-color-blue) !important;
}

.nav-web-four>.nav-web-right>.nav-web-content>.flex.nav-web-content-login {
    gap: 0.5em;
}

.nav-web-four>.nav-web-right>.nav-web-content>.flex.nav-web-content-login>.nav-web-content-login-text>.nav-web-content-login-text-top {
    color: #FFF;
    font-size: 0.875em;
    font-weight: 600;
}

.nav-web-four>.nav-web-right>.nav-web-content>.flex.nav-web-content-login>.nav-web-content-login-text>.nav-web-content-login-text-bottom {
    font-weight: 400;
    font-size: 0.75em;
    line-height: 2em;
    color: #E3E4EC;
}
.nav-web>.nav-web-content> .nav-web-content-menu> .nav-web-content-menu-cuocthi> .nav-web-content-menu-textcuocthi> .nav-web-content-menu-textcuocthi-backgound {
    background-color: #00CCCC;
    height: 0.5em;
    margin-top: -0.4em;
}
.nav-web-four>.nav-web-right> .nav-web-content> .nav-web-content-menu> .nav-web-content-menu-cuocthi> .nav-web-content-menu-textcuocthi> .nav-web-content-menu-textcuocthi-backgound {
    background-color: #00CCCC;
    height: 0.5em;
    margin-top: -0.4em;
}

.footer-container-mobile-inside {
    display: grid;
    grid-template-columns: 22% 20% 12% 27%;
    grid-gap: 2em;
    justify-content: center;
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-qrcode>.hotline-qrcode-content>.hotline-qrcode-content-text {
    width: max-content;
}
@media screen and (max-width: 1500px) {
    .nav-web>.nav-web-content>.flex.nav-web-content-login> .nav-web-content-login-text>.nav-web-content-login-text-bottom{
        font-size: 0.55em;
    }
    .nav-web>.nav-web-content>.btn-login{
        margin-left: 2em;
    }
}

@media screen and (max-width: 1400px) {
    .nav-web>.nav-web-content>.btn-login{
        margin-left: 1em;
    }
    .nav-web-four>.nav-web-right>.nav-web-content>.btn-login{
        margin-left: 0;
    }
}

.footer-container-mobile-inside>.footer-mobile-hotline>.hotline-qrcode>.hotline-qrcode-content>.hotline-qrcode-content-img>img {
    width: 90%;
}

/* Begin-Edupia-choose-province */
.choose-province-container>.choose-province-cover-pop-up {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.choose-province-container>.pop-up-line-second {
    margin-top: 3em;
}

.choose-province-container>.choose-province-content {
    height: 7em;
    margin-top: 2em;
}

.choose-province-container>.choose-province-content>.row>.col>.choose-province-content-inside {
    width: 24em;
    height: 4em;
    font-size: var(--font-size-24px);
    font-weight: var(--btn-font-weight-700);
    color: #1F2230;
    text-align: center;
}

.choose-province-container>.pop-up {
    width: 23em;
    height: 19em;
}

.choose-province-container>.choose-province-cover-pop-up>.pop-up {
    margin-top: var(--size-16px);
}

.choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.footer-choose-province {
    justify-content: center;
}

.choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.footer-choose-province>.btn-choose-province {
    width: 15.625em;
}

.choose-province-container>.footer-container-mobile {
    margin-top: 3em;
}
/* End-Edupia-choose-province */


@media screen and (max-width: 1300px) {
    .nav-web>.nav-web-content>.flex.nav-web-content-login> .nav-web-content-login-text>.nav-web-content-login-text-bottom{
        font-size: 0.45em;
    }
    .nav-web>.nav-web-content>.btn-login{
        margin-left: 0;
    }
    /* Begin-Edupia-choose-province */
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
        width: 178px;
        height: 50px;
        font-size: var(--font-size-24px);
    }
        /* End-Edupia-choose-province */

}

@media screen and (max-width: 1220px) {
    .nav-web>.nav-web-content>.btn-login{
        font-size: 0.9em;
    }
    .nav-web-four>.nav-web-right>.nav-web-content>.btn-login{
        font-size: 0.9em;
    }
    /* Begin-Edupia-choose-province */
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
        left: 15%;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-content {
        font-size: 0.75em;
    }
    /* End-Edupia-choose-province */
}

@media screen and (max-width: 1100px) {
    /* Begin-Edupia-choose-province */
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
        width: 170px;
        height: 38px;
        font-size: var(--size-16px);
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.footer-choose-province>.btn-choose-province {
        width: 19.625em;
        height: 3.5em;
        font-size: 0.7em;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.btn-register {
        font-size: var(--primary-font-size-14px);
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.btn-join {
        width: 7em;
        font-size: var(--primary-font-size-14px);
    }
    /* End-Edupia-choose-province */
}

@media screen and (max-width: 1000px) {
    .nav-web>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-cuocthi> .nav-web-content-menu-textcuocthi, .nav-web-content-menu-textontapcungedupia, .nav-web-content-menu-textuluye, .nav-web-content-menu-textintuc{
        font-size: 0.8em;
    }
    .nav-web-four>.nav-web-right>.nav-web-content>.nav-web-content-menu>.nav-web-content-menu-cuocthi >.nav-web-content-menu-textcuocthi, .nav-web-content-menu-textontapcungedupia, .nav-web-content-menu-textuluyen{
        font-size: 0.8em;
    }
    .nav-web>.nav-web-content>.nav-web-content-menu{
        gap: 0 !important;
    }
    /* Begin-Edupia-choose-province */
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
        width: 145px;
        height: 32px;
        font-size: var(--size-16px);
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-content {
        font-size: 0.6em;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.btn-register {
        font-size: 0.7em;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.btn-join {
        width: 80px;
        font-size: 0.7em;
    }
    
    /* End-Edupia-choose-province */
}

@media screen and (max-width: 900px) {
    .nav-web>.nav-web-content>.btn-login{
        font-size: 0.8em;
    }
    .nav-web-four>.nav-web-right>.nav-web-content>.btn-login {
        font-size: 0.8em;
    }
    /* Begin-Edupia-choose-province */
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
        width: 120px;
        height: 28px;
        font-size: var(--size-16px);
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.primary-comingsoon,
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.primary-happening {
        font-size: 0.75em;
    }
    /* End-Edupia-choose-province */
}

@media screen and (max-width: 800px) {
    /* Begin-Edupia-choose-province */
    .choose-province-container>.nav-mobile-login {
        display: flex;
    }

    .choose-province-container>.nav-mobile-login>.nav-mobile-login-content {
        flex: 1;
    }

    .choose-province-container>.nav-web {
        display: none;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
        width: 100px;
        height: 21px;
        font-size: 12px;
    }

    .choose-province-container>.footer-container-mobile>.row>.col>.footer-container-mobile-inside {
        grid-template-columns: none;
    }

    .choose-province-container>.footer-container-mobile>.row>.col>.footer-container-mobile-inside>.footer-mobile-location>.location-content {
        justify-content: flex-start;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.primary-happening {
        font-size: 0.6em;
    }
    /* End-Edupia-choose-province */

}

@media screen and (max-width: 700px) {
    /* Begin-Edupia-choose-province */
    .choose-province-container>.choose-province-cover-pop-up {
        grid-template-columns: none;
        padding: 0;
    }

    .choose-province-container>.choose-province-content>.row>.col>.choose-province-content-inside {
        width: 100%;
        font-size: 0.9375em;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-header>.pop-up-inside-header-text {
        width: 178px;
        height: 50px;
        font-size: var(--font-size-24px);
        left: 22%;
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-content,
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.primary-comingsoon,
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.btn-register,
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.btn-join,
    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.primary-happening {
        font-size: var(--size-16px);
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.footer-choose-province>.btn-choose-province {
        width: 15.625em;
        height: 2em;
        font-size: var(--size-16px);
    }

    .choose-province-container>.choose-province-cover-pop-up>.pop-up>.row>.col>.pop-up-inside>.row>.col>.pop-up-inside-footer>.btn-join {
        width: 8.3125em;
    }

    .choose-province-container>.footer-container-mobile>.row>.col>.footer-container-mobile-inside {
        grid-template-columns: none;
    }
    /* End-Edupia-choose-province */
}